*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif; }

body {
  box-sizing: border-box;
  background-image: url("../../assets/images/landing-image.jpg"); }

.content__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.navigation {
  height: 45%;
  width: 6%;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 5px; }
  .navigation__list {
    height: 100%;
    width: 100%;
    text-align: center; }
  .navigation__item {
    padding: 1rem 0; }
    .navigation__item:not(:last-child) {
      border-bottom: 1px solid #ccc; }
  .navigation__link:link, .navigation__link:visited {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all .3s ease; }
  .navigation__link--active {
    color: red !important;
    fill: red !important; }
  .navigation__link:hover {
    color: orange;
    fill: orange; }
  .navigation__icon {
    height: 1.6rem;
    width: 100%; }

.home {
  height: calc(90vh - 5rem);
  width: 85vw;
  border: 2px solid #fff;
  display: flex; }

.profile {
  height: calc(100% + 5rem);
  margin: -2.5rem 0 2.5rem 0;
  width: 40%;
  border: 2px solid #fff; }

.side__panel {
  height: 100%;
  width: 59%;
  border: 2px solid #fff; }
