*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-image: url("../../assets/images/landing-image-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

::-webkit-scrollbar {
  width: 1.3em; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); }

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.content__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.title-box {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #ccc; }

.title-main {
  position: relative;
  background-image: linear-gradient(to right, #0077b6, #0077b6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  .title-main::after {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 119, 182, 0.3), rgba(0, 119, 182, 0.3));
    top: .8rem;
    left: -1rem;
    border-radius: 50%; }

.title-sub {
  color: #000; }

.navigation {
  height: 45%;
  width: 6%;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 1rem;
  z-index: 1500; }
  .navigation__list {
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center; }
  .navigation__item {
    padding: 1rem 0; }
    .navigation__item:not(:last-child) {
      border-bottom: 1px solid #ccc; }
  .navigation__link:link, .navigation__link:visited {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: .9rem;
    transition: all .3s ease; }
  .navigation__link--active {
    color: #0077b6 !important;
    fill: #0077b6 !important; }
  .navigation__link:hover {
    color: #0077b6;
    fill: #0077b6; }
  .navigation__icon {
    height: 1.6rem;
    width: 100%;
    margin-bottom: .1rem; }

.home {
  height: calc(90vh - 5rem);
  width: 85vw;
  display: flex; }

.side__panel {
  height: 100%;
  width: 59%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 2rem;
  scroll-behavior: smooth; }

.about {
  display: none;
  height: 100%;
  width: 100%; }
  .about__me {
    margin-bottom: 5rem; }
  .about__introducing {
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: .05em;
    display: flex;
    align-items: flex-start;
    margin-top: 2rem; }
  .about__bio {
    width: 50%; }
  .about__labels {
    width: 50%;
    margin-left: 5rem; }
    .about__labels-list {
      list-style: none; }
    .about__labels-item {
      display: flex;
      justify-content: space-between;
      background-image: linear-gradient(to right, rgba(0, 119, 182, 0.5), rgba(0, 119, 182, 0.5));
      border-radius: 5px; }
      .about__labels-item:not(:last-child) {
        margin-bottom: 1rem; }
    .about__labels-item--white {
      background-color: #fff; }
  .about__services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
    margin-top: 2rem; }
  .about__services-box {
    text-align: center;
    padding: 2rem; }
  .about__services-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize; }
  .about__services-text {
    font-size: 1.5rem; }
  .about__services-icon {
    height: 6.5rem;
    width: 6.5rem;
    padding: 2rem;
    background-image: linear-gradient(to right, #0077b6, #0077b6);
    fill: #fff;
    border-radius: 50%; }
  .about__pricing-offer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem; }
  .about__pricing-box {
    padding: 3rem; }
    .about__pricing-box:not(:last-child) {
      border-right: 1px solid #ccc;
      margin-right: 2rem; }
  .about__pricing-icon {
    height: 4rem;
    width: 4rem;
    fill: #0077b6;
    display: block;
    margin: 1rem auto; }
  .about__pricing-icon--small {
    height: 2rem;
    width: 2rem;
    fill: #0077b6; }
  .about__pricing-plan {
    font-size: 1.5rem;
    font-weight: 700; }
  .about__pricing-price {
    font-size: 4rem;
    margin-bottom: 1rem; }
  .about__pricing-span {
    font-weight: 300; }
  .about__pricing-list {
    list-style: none; }
  .about__pricing-item {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .about__pricing-item--disabled {
    text-decoration: line-through; }
  .about__pricing-paybox {
    display: flex;
    justify-content: center;
    align-items: center; }
  .about__pricing-btn:link, .about__pricing-btn:visited {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }
  .about__facts-content {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem; }
  .about__facts-fact {
    text-align: center;
    padding: 0 1rem; }
    .about__facts-fact:not(:last-child) {
      border-right: 1px solid #ccc; }
  .about__facts-icon {
    height: 5rem;
    width: 5rem;
    fill: #0077b6;
    margin-bottom: .5rem; }
  .about__facts-text {
    font-size: 1.5rem;
    font-weight: 400; }

.resume__timelapse-content {
  display: flex;
  justify-content: center; }

.resume__timelapse-parent-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem; }
  .resume__timelapse-parent-box:not(:last-child) {
    border-right: 1px solid #ccc; }

.resume__timelapse-title-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.resume__timelapse-icon {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 .8rem .8rem 0;
  fill: #0077b6; }

.resume__timelapse-icon--multiple {
  display: none;
  justify-content: center;
  align-items: center; }

.resume__timelapse-icon--brand {
  height: 6rem;
  width: 6rem;
  display: none;
  margin: 0 auto 1rem auto;
  margin-bottom: 1.5rem; }

.resume__timelapse-heading {
  font-size: 2rem;
  margin-bottom: 1rem; }

.resume__timelapse-child-box {
  padding: 2rem 0;
  text-align: left; }

.resume__timelapse-year {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 auto 1rem auto;
  text-transform: capitalize;
  color: #aaa;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .1rem .4rem; }
  .resume__timelapse-year--active {
    color: #0077b6;
    border: 1.1px solid #0077b6; }

.resume__timelapse-title {
  font-size: 2rem; }

.resume__timelapse-subject {
  font-size: 1.5rem;
  display: inline-block;
  color: #aaa;
  margin-bottom: 1rem; }

.resume__timelapse-list {
  list-style: none; }

.resume__timelapse-item {
  font-size: 1.7rem;
  font-weight: 300; }
  .resume__timelapse-item:not(:last-child) {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc; }

.resume__timelapse-text {
  font-size: 2.1rem;
  font-weight: 300; }

.resume__skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 3rem; }

.resume__skills-box {
  padding: 1rem 2rem; }
  .resume__skills-box-2 {
    margin-top: -.2rem; }

.resume__skills-title-box {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.resume__skills-icon {
  height: 4rem;
  width: 4rem;
  margin: 0 .7rem 1rem 0;
  fill: #0077b6; }

.resume__skills-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.resume__skills-bar-text, .resume__skills-circle-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 2rem 0 1rem 0; }

.resume__skills-bar--transparent {
  display: inline-block;
  height: .4rem;
  width: 100%;
  background-color: #ccc;
  border-radius: 3px;
  position: relative;
  overflow: hidden; }

.resume__skills-bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0077b6; }
  .resume__skills-bar-1 {
    width: 75%; }
  .resume__skills-bar-2 {
    width: 50%; }
  .resume__skills-bar-3 {
    width: 90%; }
  .resume__skills-bar-4 {
    width: 25%; }

.resume__skills-circle-box {
  width: 100%; }

.resume__skills-circle {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%; }
  .resume__skills-circle:not(:last-child) {
    margin-right: .2rem; }
  .resume__skills-circle--filled {
    background-color: #0077b6; }
  .resume__skills-circle--empty {
    background-color: #ccc; }

.resume__skills-progress-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.resume__skills-progress-box {
  height: 15rem;
  width: 15rem;
  position: relative; }

.resume__skills-progress-circle {
  height: 15rem;
  width: 15rem;
  position: relative; }
  .resume__skills-progress-circle circle {
    fill: none;
    stroke-width: 8;
    stroke: #000;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    stroke-linecap: round;
    transform: translate(5px, 5px); }
    .resume__skills-progress-circle circle:nth-child(1) {
      stroke-dashoffset: 0;
      stroke: #ccc; }
  .resume__skills-progress-circle--1 circle {
    stroke-dashoffset: calc(320 - (320 * 90) / 100);
    stroke: #0077b6; }
  .resume__skills-progress-circle--2 circle {
    stroke-dashoffset: calc(320 - (320 * 80) / 100);
    stroke: #0077b6; }
  .resume__skills-progress-circle--3 circle {
    stroke-dashoffset: calc(320 - (320 * 65) / 100);
    stroke: #0077b6; }
  .resume__skills-progress-circle--4 circle {
    stroke-dashoffset: calc(320 - (320 * 90) / 100);
    stroke: #0077b6; }

.resume__skills-progress-number {
  width: 50%;
  position: absolute;
  top: 28%;
  left: 24%; }

.resume__skills-progress-percentage {
  font-size: 2rem;
  font-weight: 700; }

.resume__skills-progress-heading-box {
  height: 2rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase; }

.resume__skills-progress-heading {
  width: 100%;
  margin: 0 0 7.8rem 1.1rem;
  text-align: center; }

.resume__skills-knowledge {
  margin-bottom: 2rem; }
  .resume__skills-knowledge-list {
    list-style: none;
    height: 100%; }
  .resume__skills-knowledge-item-box {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .resume__skills-knowledge-item-box:not(:last-child) {
      margin-bottom: 1rem; }
  .resume__skills-knowledge-item {
    font-size: 2rem;
    font-weight: 300;
    color: #777; }
  .resume__skills-knowledge-icon {
    height: 2rem;
    width: 2rem;
    fill: #0077b6;
    margin-right: 1rem; }

.profile {
  height: calc(100% + 5rem);
  margin: -2.5rem 0 2.5rem 0;
  width: 40%;
  position: relative; }
  .profile__box {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0.1rem -0.1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    z-index: 2000; }
  .profile::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(0, 119, 182, 0.6), rgba(0, 119, 182, 0.1));
    transform: translate(-5%, -3%);
    z-index: 1000; }
  .profile__image-box {
    position: relative;
    height: 50%; }
  .profile__image-landing {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%); }
  .profile__image-avatar {
    height: 13rem;
    width: 27%;
    position: absolute;
    top: 117%;
    left: 50%;
    transform: translate(-50%, -117%);
    border: 3px solid #fff;
    border-radius: 50%;
    background-size: cover; }
  .profile__text-box {
    margin-top: 4rem;
    text-align: center; }
  .profile__user-name {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .5rem; }
  .profile__user-occupation {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: capitalize;
    background-image: linear-gradient(to right, #0077b6, #0077b6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .profile__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; }
  .profile__link:link, .profile__link:visited {
    font-size: 1rem;
    width: 10%;
    transition: all .4s ease; }
  .profile__icon {
    height: 2rem;
    width: 100%; }
  .profile__icon-twitter {
    fill: #1DA1F2; }
  .profile__icon-github {
    fill: #444; }
  .profile__icon-mail {
    fill: #32ff6a; }
  .profile__icon-stackoverflow {
    fill: #f48024; }
  .profile__icon-linkedin {
    fill: #2867B2; }
  .profile__footer {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 0; }
  .profile__icon-footer {
    height: 1.5rem;
    width: 3rem;
    margin-top: 1rem; }
  .profile__link-footer {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000; }
