.home {
  height: calc(90vh - 5rem);
  width: 85vw;
  // border: 2px solid #fff; // test
  display: flex;
}

.side__panel {
  height: 100%;
  width: 59%;
  // border: 2px solid #fff; //test
  background-color: #eee;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 2rem;
}

// ABOUT PAGE
.about {
  height: 100%;
  width: 100%;

  // ABOUT ME PAGE
  &__me {
    margin-bottom: 5rem;
  }

  &__title-box {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #ccc;
  }

  &__title--main {
    position: relative;
    background-image: linear-gradient(to right, $color-primary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &::after {
      content: "";
      height: 2.5rem;
      width: 2.5rem;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba($color-primary, .3), rgba($color-primary, .3));
      top: .8rem;
      left: -1rem;
      border-radius: 50%;
    }
  }

  &__title--sub {
    color: #000;
  }

  &__introducing {
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: .05em;
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
  }

  &__bio {
    width: 50%;
  }

  &__labels {
    width: 50%;
    margin-left: 5rem;

    &-list {
      list-style: none;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      background-image: linear-gradient(to right, rgba($color-primary, .5), rgba($color-primary, .5));
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-item--white {
      background-color: #fff; //later implement better
    }
  }

  // SERVICES
  &__services {
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5rem;
      column-gap: 2rem;
      margin-top: 2rem;
    }

    &-box {
      text-align: center;
      padding: 2rem;;
    }
    
    &-title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }

    &-text {
      font-size: 1.5rem;
    }

    &-icon {
      height: 6.5rem;
      width: 6.5rem;     
      padding: 2rem;
      background-image: linear-gradient(to right, $color-primary, $color-primary);
      fill: #fff;
      border-radius: 50%;
    }
  }

  // PRICING PAGE
  &__pricing {
    &-offer {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 1rem;;
    }

    &-box {
      &:not(:last-child) {
        border-right: 1px solid #ccc;
        margin-right: 2rem;
      }
      padding: 3rem;
    }

    &-icon {
      height: 4rem;
      width: 4rem;
      fill: $color-primary;
      display: block;
      margin: 1rem auto;
    }

    &-icon--small {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;
    }

    &-plan {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-price {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    &-span {
      // font-size: 1.7rem;
      font-weight: 300;
    }

    &-list {
      list-style: none;
    }

    &-item {
      font-size: 1.7rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    &-item--disabled {
      text-decoration: line-through;
    }

    &-paybox {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-btn {
      &:link,
      &:visited {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
      }
    }
  }

// FUN FACTS PAGE

}








