.home {
  height: calc(90vh - 5rem);
  width: 85vw;
  border: 2px solid #fff; // test
  display: flex;
}

.profile {
  height: calc(100% + 5rem);
  margin: -2.5rem 0 2.5rem 0;
  width: 40%;
  border: 2px solid #fff; //test
}

.side__panel {
  height: 100%;
  width: 59%;
  border: 2px solid #fff; //test
}