.navigation {
  height: 38%;
  width: 6%;
  // border: 2px solid #fff; //test
  background-color: #fff; //test
  border-radius: 5px;
  margin-right: 1rem;
  z-index: 1500;

  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: #000; // for now
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      font-size: .9rem;
      transition: all .3s ease;
    }

    &--active {
      color: $color-primary !important;
      fill: $color-primary !important;
    }

    &:hover {
      color: $color-primary;
      fill: $color-primary;
    }
  }

  &__icon {
    height: 1.6rem;
    width: 100%;
    margin-bottom: .3rem;
  }
}